<div class="container">
    <div class="login">
        <div class="logoContainer">
            <img class="logo" src="./images/logo.png" alt="Logo_Robot">
        </div>

        <div class="loginForm">
            <form action="/katalog">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                <input type="password" class="form-control" id="password" name="password" placeholder="Heslo">

                <p class="regLink">
                    <a href="/registrace">Chci se registrovat</a>
                </p>

                <p class="text-center">
                    <button type="submit" class="btn btn-dark">Přihlásit</button>
                </p>
            </form>
        </div>
    </div>
</div>

<div class="zcu_logo">
    <img src="./images/zcu-logo.svg" alt="ZČU">
</div>

<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./js/popper.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>