<div class="container">
    <div class="login">
        <div class="logoContainer">
            <img class="logo" src="./images/logo.png" alt="Logo_Robot">
        </div>

        <div class="loginForm">
            <form action="/registrace" method="post">
                <input type="text" class="form-control" id="name" name="name" placeholder="Jméno" required>
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Příjmení" required>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                <input type="password" class="form-control" id="password" name="password" placeholder="Heslo" required>
                {{!-- <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Heslo znovu" required> --}}

                <div class="row radios" style="display: {{display}};">
                    <div class="radio col-sm-6">
                        <label><input value="true" type="checkbox" name="admin"> Správce</label>
                    </div>
                </div>

                <p class="regLink">
                    <a href="/">Zpět na přihlášení</a>
                </p>

                <p class="text-center">
                    <button type="submit" class="btn btn-dark">Registrovat</button>
                </p>
            </form>
        </div>
    </div>
</div>

<div class="zcu_logo">
    <img src="./images/zcu-logo.svg" alt="ZČU">
</div>