<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrace</title>
</head>

<body>
    <form action="/katalog">
        <input type="text" placeholder="jméno">
        <input type="text" placeholder="příjmení">
        <input type="mail" placeholder="Email">
        <input type="password" placeholder="Heslo">
        <input type="password" placeholder="Heslo znovu">

        <label for="r1"> Správce</label>
        <input id="r1" type="radio" name="choose">
        <label for="r2"> Uživatel</label>
        <input id="r2" type="radio" name="choose">

        <a href="/">Přihlásit se</a>
        <button type="submit">Potvrdit</button>
    </form>

</body>

</html>