<div class="container">
    <div class="containerSettings text-center">
        {{>header}}
        <hr>

        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2 tile">
                <a data-toggle="modal" data-target="#exampleModal" href="#">
                    <div class="tileContent" style="color: black;">
                        <i class="fas fa-key" style="font-size: 60px; margin-bottom: 10px;"></i><br>
                        Změna hesla
                    </div>
                </a>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Změna hesla</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="currentPass">Zadejte stávající heslo</label>
                                <input type="password" class="form-control" id="currentPass" aria-describedby="passCHelp">
                                 <small id="passCHelp" class="form-text text-danger font-weight-bold">Špatné heslo!</small>
                            </div>
                            <div class="form-group">
                                <label for="newPass">Nové heslo</label>
                                <input type="password" class="form-control passInput" id="newPass">
                            </div>
                            <div class="form-group">
                                <label for="newPassAgain">Nové heslo znovu</label>
                                <input type="password" class="form-control passInput" id="newPassAgain"
                                    aria-describedby="passHelp">
                                <small id="passHelp" class="form-text text-danger font-weight-bold"></small>
                            </div>
                            <button type="submit" class="btn btn-primary submitBtn">Potvrdit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./js/equalPass.js"></script>