<nav>
    <img id="logoSmall" src="./images/logo.png" alt="Logo">
    <ul>
        <li><a href="/katalog">Katalog</a></li>
        <li><a href="/myLibrary">Zapůjčené</a></li>
        <li><a href="/nastavení">Nastavení</a></li>
    </ul>

    <div id="idCard">
        <img src="./images/apa_head.png" alt="Obrázek profilu">
        <div id="text">
            <p id="name">Petr Vomáčka</p>
            <p id="titel">Správce</p>
        </div>
    </div>
</nav>