html {
	font-size: 13px;
}

body {
	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	font-weight: 400;
	background: #666666;
	padding: 40px;
}

.navbarKVD .nav-link {
	color: #fff !important;
}

.navbarKVD .nav-link:hover {
	color: red !important;
}

.navbarKVD .active {
	color: red !important;
}

#idCard img {
	border-radius: 50%;
	max-height: 22px;
}

#idCard {
	color: red;
	transition: 0.5s ease-out;
	border-radius: 20px;
}

#idCard:hover {
	background-color: white;
}

.filterForm ::placeholder {
	color: red;
}

.filterForm input {
	color: red;
	opacity: 1;
}

.filterBtnDiv {
	display: none;
}

@media (max-width: 575px) {
	#filterBtn {
		display: none;
	}

	.filterBtnDiv {
		display: block;
	}

	#filterBtn-sm {
		margin-left: auto;
		margin-right: auto;
	}
}

.icon {
	padding: 10px;
	background: grey;
	color: white;
	min-width: 50px;
	text-align: center;
	height:32px;
  }