body {
  height: 100vh;
  background: #5a5a5a;
  background: linear-gradient(45deg, #5a5a5a 0%, #e3e3e3 100%);
}

body .containerLogin {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-row-gap: 10px;
      grid-template-areas: ". logo ." ". sign ." ". zcuLog .";
}

body .containerLogin #logo {
  margin-top: 25px;
  width: 30%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
}

body .containerLogin #signForm {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: sign;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  height: 400px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(90, 90, 90, 0.24);
}

body .containerLogin #signForm input {
  text-align: center;
  outline: none;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: #ed1c24;
}

body .containerLogin #signForm input:focus::-webkit-input-placeholder {
  color: transparent;
}

body .containerLogin #signForm input:focus:-ms-input-placeholder {
  color: transparent;
}

body .containerLogin #signForm input:focus::-ms-input-placeholder {
  color: transparent;
}

body .containerLogin #signForm input:focus::placeholder {
  color: transparent;
}

body .containerLogin #signForm input::-webkit-input-placeholder {
  color: #ed1c24;
}

body .containerLogin #signForm input:-ms-input-placeholder {
  color: #ed1c24;
}

body .containerLogin #signForm input::-ms-input-placeholder {
  color: #ed1c24;
}

body .containerLogin #signForm input::placeholder {
  color: #ed1c24;
}

body .containerLogin #signForm a {
  text-decoration: none;
  color: white;
  padding: 10px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .containerLogin #signForm a:hover {
  color: #ed1c24;
}

body .containerLogin #signForm a:focus {
  color: #ed1c24;
}

body .containerLogin #signForm button {
  font-size: 15px;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

body .containerLogin #signForm button:hover {
  background-color: white;
  color: #ed1c24;
}

body .containerLogin #signForm button:focus {
  background-color: white;
  color: #ed1c24;
}

body .containerLogin #zcu_logo {
  width: 20%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: zcuLog;
  -ms-grid-column-align: end;
      justify-self: end;
}

.containerCatalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  grid-row-gap: 10px;
      grid-template-areas: ". nav ." ". a ." ". search ." ". table .";
}

.containerCatalog nav {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
}

.containerCatalog nav #logoSmall {
  width: 20%;
  min-width: 20%;
}

.containerCatalog nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  list-style-type: none;
  margin-right: 50px;
}

.containerCatalog nav ul li {
  padding: 0 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.containerCatalog nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.containerCatalog nav ul li a:hover {
  color: #ed1c24;
}

.containerCatalog nav ul li a:focus {
  color: #ed1c24;
}

.containerCatalog nav #idCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 60px;
  min-width: 200px;
  background-color: white;
  border: 1px solid rgba(51, 51, 51, 0.8);
  border-radius: 10px;
  padding: 0 10px;
  -webkit-box-shadow: 5px 5px 6px grey;
          box-shadow: 5px 5px 6px grey;
}

.containerCatalog nav #idCard img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  height: 50px;
}

.containerCatalog nav #idCard #text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px;
}

.containerCatalog nav #idCard #text p {
  font-size: 13px;
}

.containerCatalog nav #idCard #text #titel {
  color: #ed1c24;
}

.containerCatalog a {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a;
  -ms-grid-column-align: end;
      justify-self: end;
  text-decoration: none;
  color: white;
  padding: 0 15px 0 0;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.containerCatalog a:hover {
  color: #ed1c24;
}

.containerCatalog a:focus {
  color: #ed1c24;
}

.containerCatalog #searchRow {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: search;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.containerCatalog #searchRow #searchForm input {
  text-align: center;
  outline: none;
  font-size: 13px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  color: #ed1c24;
}

.containerCatalog #searchRow #searchForm input:focus::-webkit-input-placeholder {
  color: transparent;
}

.containerCatalog #searchRow #searchForm input:focus:-ms-input-placeholder {
  color: transparent;
}

.containerCatalog #searchRow #searchForm input:focus::-ms-input-placeholder {
  color: transparent;
}

.containerCatalog #searchRow #searchForm input:focus::placeholder {
  color: transparent;
}

.containerCatalog #searchRow #searchForm input::-webkit-input-placeholder {
  color: #ed1c24;
}

.containerCatalog #searchRow #searchForm input:-ms-input-placeholder {
  color: #ed1c24;
}

.containerCatalog #searchRow #searchForm input::-ms-input-placeholder {
  color: #ed1c24;
}

.containerCatalog #searchRow #searchForm input::placeholder {
  color: #ed1c24;
}

.containerCatalog #searchRow #searchForm button {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.containerCatalog #searchRow #searchForm button:hover {
  background-color: white;
  color: #ed1c24;
}

.containerCatalog #searchRow #searchForm button:focus {
  background-color: white;
  color: #ed1c24;
}

.containerCatalog #searchRow #filterBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.8);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.containerCatalog #searchRow #filterBtn:hover {
  background-color: white;
  color: #ed1c24;
}

.containerCatalog #searchRow #filterBtn:focus {
  background-color: white;
  color: #ed1c24;
}

.containerCatalog #tableCatag {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: table;
  width: 100%;
  border-collapse: collapse;
}

.containerCatalog #tableCatag thead {
  background-color: rgba(51, 51, 51, 0.8);
  display: table;
  width: calc(100% - 1em);
  table-layout: fixed;
}

.containerCatalog #tableCatag thead td,
.containerCatalog #tableCatag thead th {
  border: 1px solid white;
  padding: 8px;
  color: white;
}

.containerCatalog #tableCatag tbody {
  background-color: white;
  display: block;
  max-height: 60vh;
  overflow: auto;
  overflow-y: scroll;
}

.containerCatalog #tableCatag tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.containerCatalog #tableCatag tbody td,
.containerCatalog #tableCatag tbody th {
  border: 1px solid #333333;
  padding: 8px;
  color: #ed1c24;
}

.containerCatalog #tableCatag tbody td .yellow,
.containerCatalog #tableCatag tbody th .yellow {
  padding: 5px;
  margin-right: 10px;
  background-color: #d6af43;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.containerCatalog #tableCatag tbody td .yellow:hover,
.containerCatalog #tableCatag tbody th .yellow:hover {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.containerCatalog #tableCatag tbody td .yellow:focus,
.containerCatalog #tableCatag tbody th .yellow:focus {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

.containerCatalog #tableCatag tbody td .blue,
.containerCatalog #tableCatag tbody th .blue {
  padding: 5px;
  margin-right: 10px;
  background-color: #428be0;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  margin-right: 0;
}

.containerCatalog #tableCatag tbody td .blue:hover,
.containerCatalog #tableCatag tbody th .blue:hover {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.containerCatalog #tableCatag tbody td .blue:focus,
.containerCatalog #tableCatag tbody th .blue:focus {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

.containerCatalog #tableCatag tbody td .green,
.containerCatalog #tableCatag tbody th .green {
  padding: 5px;
  margin-right: 10px;
  background-color: #7fad48;
  color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  padding: 5px 10px;
  margin: 0;
}

.containerCatalog #tableCatag tbody td .green:hover,
.containerCatalog #tableCatag tbody th .green:hover {
  -webkit-box-shadow: 3px 3px 3px grey;
          box-shadow: 3px 3px 3px grey;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.containerCatalog #tableCatag tbody td .green:focus,
.containerCatalog #tableCatag tbody th .green:focus {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

* {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */