/*Tyto styly jsou připravené pro stránku Katalog i zapůjčené (catalog.html a library.html*/
.catalogTable {
	text-align: center;
	margin-top: 20px;
}

.catalogTable thead {
	color: #fff;
	background: #444;
	font-weight: unset;
}

.catalogTable tbody {
	color: red;
	background: #fff;
	font-weight: unset;
}

.table-bordered {
	border: 0;
}

.table-bordered>thead>tr>th {
	/*specifikuje elementy, které jsou přímým potomkem th, které je přímo pod tr*/
	border: 1px solid #000;
}

.table-bordered>tbody>tr>td {
	border: 1px solid #000;
}

@media (max-width: 800px) {
	.catalogTable .action {
		display: none;
	}
}

.catalogTable .tableButtons {
	/*pro všechny tableButtons, které jsou v catalogTable*/
	color: white;
}

.catalogTable .absoluteButton {
	position: absolute;
	right: 0;
	color: #fff;
	cursor: pointer;
	padding: 9px;
	margin-right: 10px;
	margin-top: -12px;
}

@media (min-width: 801px) {
	.catalogTable .absoluteButton {
		display: none;
	}
}

.catalogTable .tableButtons a {
	width: 82px;
}

.catalogTable .tableButtons .btn-warning {
	color: #222;
}

.catalogTable .tableButtons .btn-warning:hover {
	color: #222;
}

.filterBtn {
	position: relative;
	right: 0;
}

.containerCatalog .filter_row {
	display: none;
	border: solid 1px #fff;
	border-radius: 20px;
	padding: 20px;
	background: rgba(75, 75, 75, 0.3);
	margin-top: 20px;
}

.containerCatalog .submitFilterBtn {
	margin-left: auto;
	margin-right: auto;
}

.clickable {
	pointer-events: none
}